<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" id="login-form" ng-submit="submitForm()">
				<legend>Please, enter login and password</legend>
				<div class="control-group controls-box">
					<label class="control-label" for="input-login">Login</label>
					<div class="controls input-box">
						<input type="text" placeholder="Enter login" id="input-login" ng-model="login"/>
					</div>
				</div>
				<div class="control-group controls-box">
					<label class="control-label" for="input-pas">Password</label>
					<div class="controls input-box">
						<input type="password" placeholder="Enter password" id="input-pas" ng-model="password"/>
					</div>
				</div>
				<input type="submit" class="btn" value="Log in"/>
			</form>
		</div>
	</div>
</div>
