body {
	padding-top: 20px;
}

.todo-list {
	list-style: none;
	margin-top: 20px;
}

.todo-list li {
	width: 300px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #000;
}

form .controls-box {
	margin-bottom: 20px;
}

form .input-box {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.logo {
	float: left;
	margin: 0 20px 20px 0;
}

.btn-container {
	margin-top: 20px;
}

.todo {
	padding: 20px 0;
}

footer {
	text-align: center;
}

.todo-row {
	margin-bottom: 20px;
}

.true {
	font-weight: normal;
}

.header {
	overflow: hidden;
}

.view {
	margin: 20px 0;
}