body {
	padding-top: 20px;
}

.videos {
	list-style: none;
	margin-top: 20px;
}

.thumb {
	float: left;
	margin: -0.5em 1em 0.5em 0;
	padding-bottom: 1em;
	height: 80px;
	width: 100px;
}

.videos li {
	clear: both;
	height: 115px;
	padding-top: 15px;
}

form {
	padding: 20px;
}

form .controls-box {
	margin-bottom: 20px;
}

form .input-box {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.logo {
	float: left;
	margin-right: 20px;
}

.btn-container {
	text-align: center;
	margin-top: 20px;
}

.video-list {
	padding: 20px 0;
}